- posts.forEach(function(post, index) {
    .col-md-1.col-md-offset-2
        .post-interactive.pull-right
            .post-assent
                .glyphicon.glyphicon-triangle-top
                div #{post.interactionData.like}
            .post-oppose
                .glyphicon.glyphicon-triangle-bottom
    .col-md-9.basic-col-md
        .col-md-12.basic-col-md
            .post-head
                a.text-primary(href='posts/#{post.id}')
                    strong #{post.title}
            .post-body
                - if (post.showMore) {
                    p.js-post-summary #{post.summary}...
                    p.hidden.js-post-content #{post.content}
                    a.text-primary.js-hide-post-content.hidden(href='javascript:;')
                        small.text-primary
                            u 收起
                    a.text-primary.js-show-post-content(href='javascript:;')
                        small.text-primary
                            u 显示全文
                - } else {
                    p #{post.content}
                - }
- })