extends layout

block content
    #single-post
        .row
            .post-head-area
                .main
                    .col-md-8
                        h3.post-title #{post.title}
                        .post-info-basic
                            strong
                                a(href='/users/profile/#{post.author.id}') #{post.author.nick}
                            span &nbsp;发表于 #{post.created}
                            - if (post.updated) {
                                span &nbsp;最后更新时间 #{post.updated}
                            - }
                    .col-md-2.col-md-offset-1
                        div.post-info-btn
                            button.btn.btn-info.btn-sm(role='button') 赞赏
                        div.post-info-btn
                            button.btn.btn-success.btn-sm(role='button') 收藏
        .main
            .row
                .col-md-9
                    .post-body
                        p!= post.content